[data-container] {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: map-get($gutter, value);
  padding-left: map-get($gutter, value);
  max-width: $max-width;
  @media (max-width: map-get($breakpoints, sm)) {
    padding-right: map-get($gutter, min);
    padding-left: map-get($gutter, min);
  }
  @media (min-width: map-get($breakpoints, lg)) {
    padding-right: map-get($gutter, max);
    padding-left: map-get($gutter, max);
  }
}

[data-container*=fluid] {
  max-width: none
}
